

<footer role="footer">

  <div class="row">
    <div class="small-12 large-4 columns">
        <h4>Recent posts</h4>
          <ul class="posts">
          {% for post in site.posts limit:3 %}
          <li>
            <a href="{{ BASE_PATH }}{{ post.url }}">
              <span class="date">{{ post.date | date_to_string }}</span>

              {{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
    </div>

    <div class="small-12 large-4 columns">
      <img src="http://placehold.it/350x150">
    </div>

    <div class="small-12 large-4 columns">
      <img src="http://placehold.it/350x150">
    </div>

  </div>

</footer>



<!-- Google Analytics -->


<!-- Foundation -->

  <script src="/assets/js/foundation/foundation.js"></script>
  <script src="/assets/js/foundation/foundation.equalizer.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>



</body>
</html>
