

<footer role="footer">
<div class="row">
<div class="small-12 large-centered columns">

<ul class="small-block-grid-2 large-block-grid-4">
<li><a href="http://www.fivebehaviors.com/" target="_blank"><img src="{{ site.url }}/images/content/five.png" alt="Five Behaviors" /></a></li>
<li><a href="http://www.everythingdisc.com/" target="_blank"><img src="{{ site.url }}/images/content/disc.png" alt="Personality DISC Assesment" /></a></li>
<li><a href="http://www.centerfornonprofitcoaching.com/" target="_blank"><img src="{{ site.url }}/images/content/CNPC.png" alt="Center for Non-profit Coaching" /></a></li>
<li><a href="http://www.coachfederation.org/credential/landing.cfm?ItemNumber=2202&navItemNumber=745" target="_blank"><img src="{{ site.url }}/images/content/PCC.png" alt="Professional Certified Coach" /></a></li>
</ul>

<p class="info">All content &copy; Dynamic Consulting.</p>

<div class="vCard">
<span class="street-address">P.O. Box 34774</span> , <span class="locality">Juneau</span>,
<abbr title="Alaska"><span class="region">AK</span></abbr>
<span class="postal-code">99803</span>
</div>


</div>
</div>


</footer>






<!-- Google Analytics -->


<!-- Foundation -->

  <script src="/assets/js/foundation/foundation.js"></script>
  <script src="/assets/js/foundation/foundation.equalizer.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>



</body>
</html>
