<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <meta charset="utf-8">
  <title>Digital Service</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta content='website' property='og:type'>
  <meta content='{{ site.url }}' property='og:url'>
  <meta content='{{ site.url }}/images/design/icons/apple-icon-touch-72-precomposed.png' property='og:image'>
  <meta content='VA Digital Service' property='og:title'>
  <meta content='Redefining the way VA servce veterans' property='og:description'>
  <meta name="apple-mobile-web-app-title" content="VADS">
  <meta name="application-name" content="VADS">

  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} RSS Feed" href="{{ site.url }}/feed/">

  <link rel="shortcut icon" href="{{ site.url }}/images/design/icons/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ site.url }}/images/design/icons/apple-icon-touch-57-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/design/icons/apple-icon-touch-72-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/design/icons/apple-icon-touch-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="157x157" href="{{ site.url }}/images/design/icons/apple-icon-touch-157-precomposed.png">

  <!-- JS -->
  <script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
  <script src="{{ site.url }}/assets/js/vendor/jquery.js"></script>
  <script src="{{ site.url }}/assets/js/vendor/wow.min.js"></script>
  <script>
  new WOW().init();
  </script>

  <script>
  $(function() {
    //caches a jQuery object containing the header element
    var header = $(".header");
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();

      if (scroll >= 500) {
        header.removeClass('normal').addClass("skinny");
      } else {
        header.removeClass("skinny").addClass('normal');
      }
    });
  });
  </script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='{{ site.url }}/assets/css/foundation.css'>

</head>

  <body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">

    <div id="wrap">
      <div class="header normal">
        <div class="row">
          <div class="small-8 large-uncentered large-5 columns">
            <h1 role="banner"><a href="/">Digital Service at the <abbr title="Department of Veterans Affairs">VA</abbr></a></h1>

          </div>
        </div>
      </div><!--/header -->
