/*** Dynamic Consulting SCSS ***/

/*** Colors ***/
$dynamic-primary-color: #9dd348;
$dynamic-secondary-color: #F0F885;
$dynamic-body-content-color: #6d6e71;
$dynamic-body-accent-color: #eee;
$dynamic-body-background-color: #fff;

/*** General ***/
html, body {
  font-family: 'Lato', sans-serif; font-weight: 300; color: $dynamic-body-content-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wrap {
  padding-top: 1em;
}

body.default.post #wrap {
  @media #{$small} { padding-top: 9.5em;}
}



body.posts #wrap #blog h2 {
}

ol, ul {margin: 1em 0 1em 1.2em;}
dl {margin-bottom: 2em;}
dd {margin: 0; padding: 0; line-height: 1em; span {color: $dynamic-primary-color;}}

#content { padding: 0; margin: 0; color: $dynamic-body-content-color;}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: $dynamic-body-content-color;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {font-family: 'Open Sans', sans-serif; font-weight: 300; color: $dynamic-body-content-color;}

h2 {
  @media #{$small} {font-size: em-calc(36);}
  margin: 0 0 .75em 0;
  text-align: center;
  color: $dynamic-primary-color;
  font-weight: 300;
  em {font-style: normal; font-weight: 500;  }
}

h3 {font-weight: bold; font-weight: 500; font-size: em-calc(18); margin: 0; }
h4 {font-weight: 500; font-size: em-calc(26); color: $dynamic-body-content-color; line-height: 1.2em; margin-bottom: 0; padding-bottom: 0;}
h5 {font-weight: 500; margin: .35em 0 1em 0; padding: 0; font-weight: 300; font-size: 1em;}

/*** Logo / header ***/

.header {
  @media #{$small} {
  position: fixed;
  top: 0;
  padding: 0;
  background: #fff;
  background: rgba(255,255,255, .95);
  z-index: 500;
  width: 100%;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  }
}

.header {
  h1 {margin: 0; padding: 0;}
}

h1 a {
  text-indent: -9999em;
  white-space: nowrap;

  text-align: center;
  overflow: hidden;
  display: block;
  margin: 0 auto 0 auto;
  background: url(../../images/design/logo.png) center no-repeat;
  width: 60%;
  height: 55px;
  background-size: contain;
  &:hover {opacity: .9;}
  @media #{$small} {
    width: 70%;
    height: 88px;
  }
}

.header.skinny {
  margin: 0; padding: 0;
  h1 {margin: 0; padding: 0; height: auto;}
  h1 a {height: 30px; width: 30px; background: url(../../images/design/icons/apple-icon-touch-114-precomposed.png) center no-repeat; background-size: cover;}
  nav {
    margin-top: 0;
    padding: 0;
    ul {padding: 0; margin: 0;}
    margin-bottom: .25em;
    li {margin: 0; padding: 0;}
    ul li a {padding: .25em 2.5em; font-size: .8em; &:hover {background: #eee; background: rgba(0,0,0,.05);}}
  }
}


/*** Nav ***/
nav {
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  margin-bottom: 1em;
  ul li {
    display: inline-block;
    width: 40%;
    font-size: .7em;
    @media #{$small} {width: auto; font-size: 1em;}
    letter-spacing: 0.08em;
    a {display: block; padding: .5em 3em;}
  }
}

/*** Banner ***/

#banner,
#secondary-pitch,
#recent-work,
#testimonial,
#about,
#get-in-touch,
#services {
  padding: 2em 0;
  @media #{$small} {padding: 6em 0 2em 0;}

}

.navigation {

  @media #{$small} {display: block;}
}

#banner {
  background: url(../../images/design/tulips.jpg) center center no-repeat;
  background-size: cover;
  padding: 2.5em 0;
  color: #fff;
  text-align: center;
  h2, p {color: #fff;}
  h2 {
    padding: .5em 0; margin: 0;
    @media #{$small} {margin: 2.5em 0;}
    }
}

/*** Secondary Pitch ***/

#secondary-pitch {
  text-align: center;
  padding: 1.5em 0 3em;
  p {font-size: 1.3em; margin: 0 0 1em 0;}

}

/*** Recent Work ***/

#services {
  background: #67BCD3 url(../../images/design/watermark.png) center no-repeat;
  background-size: contain;
  color: #fff;

  h2, h3, p {color: #fff;}
  p {font-size: .85em;}
}

ul.pricing-table {
  background: #fff;
  border: none;
  span {display: block;}
  @media #{$small} {min-height: 20.5em;}
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
  .title {
    background-color: #314E5D;
    color: #fff;
    font-weight: normal;
    line-height: 1.3em;
  }
  li.bullet-item {line-height: 1.4em; &:last-child{border-bottom: none;}}

}


/*** Testimonial ***/

#about, #blog {
  background: #3E6081;
  color: #fff;
  h2 {color: #fff;}
  p {color: #fff; color: rgba(255,255,255,.8);}
}

blockquote {
  font-size: 1.2em;
  @media #{$small} {font-size: 1.6em;}
  color: #3E6081;
  border-left: 1px solid rgba(255,255,255,.7);
}

/*** About ***/

#testimonial {
  background: #EFEFEF;
  color: #3E6081;
}

/*** Get in touch ***/

#wrap #get-in-touch {
  background: url(../../images/design/footer.jpg) top center no-repeat;
  padding: 6em 0 0 0;
  p {text-align: center !important;}
  p.info {margin-top: 1em; font-size: .85em; margin-bottom: .5em; padding-bottom: 0;}
  span {display: inline;}
  .vCard {color: #ddd;}
  @media #{$medium} {
    background-size: cover;
    padding: 8em 0 0em 0;
    }

  h2 {color: #547282;}
  a.button {
    border: none;
    background: #D8363E;
    padding: 1.25em 1em;
    @media #{$small} {
    margin-bottom: 20em;
  }
    background: rgba(216,54,62,.8);
    &:hover {background: rgba(0,68,118,1);}
    color: #fff;
    font-weight: normal;
    }
}

/*** Blog Posts ***/

#blog {
  @media #{$small} {margin-top: 8.5em;}
  padding: 2em 0;
  h1, h2, h3, h4, h5, h6, a, ul, ol dl {color: #fff;}
  a {color: #CAE9FB; &:hover {color: #fff;} }

  img {width: 100%;}
}

span.title {font-size: 1.35em; display: block;}
span.date {color: #fff; color: rgba(255,255,255,.65);}

.post-meta {
  border-top: 1px solid rgba(255,255,255,.2);
  padding: 1em 0;
  color: #fff;
  color: rgba(255,255,255,.6);
}

ul.posts {
  margin: 0 0 2em 0; padding: 0;
  li {list-style-type: none; display: block; border-bottom: 1px solid rgba(255,255,255,.5); padding: .5em 0;}
}

/*** ABBR ***/

abbr {
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}


/*** Scroll up ***/

#scrollUp {
	bottom: 1em;
	right: 1em;
  padding: .5em;
  background: rgba(255,255,255,.7);
}


/*** Scroll ***/

a#scrollUp {
  display: none;
  @media #{$medium} {display: block;}
}

/*** Footer ***/

footer {
     -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
  padding: 2em 0 1em 0;
  margin-top: 2em;
  background: #fff;
  span {padding-top: 2em;  vertical-align: middle;}
  text-align: center;
  span {font-size: .85em; color: #777;}
  img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .85;
    padding: .5em;
    background: #fff;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  ul {
    margin: 0;
    padding: 0 0 2em 0;
    text-align: center;
    font-size: .8em;
    li {list-style: none; display: inline-block;}
  }
}

body.default.post #wrap footer {
  margin-top: 14em;
}

img.portrait {
  margin-bottom: 1em;
  border: 2px solid rgba(255,255,255,.2);
}

/*** Web font ***/

@font-face {
  font-family: 'dynamic';
  src: url('../font/dynamic.eot?56278865');
  src: url('../font/dynamic.eot?56278865#iefix') format('embedded-opentype'),
       url('../font/dynamic.woff?56278865') format('woff'),
       url('../font/dynamic.ttf?56278865') format('truetype'),
       url('../font/dynamic.svg?56278865#dynamic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dynamic';
    src: url('../font/dynamic.svg?56278865#dynamic') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dynamic";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-flashlight:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-layout:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-feather:before { content: '\e80e'; } /* '' */
.icon-tumblr:before { content: '\e80f'; } /* '' */
.icon-pinterest:before { content: '\e810'; } /* '' */
.icon-gplus:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-up-open-big:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-left-open-big:before { content: '\e815'; } /* '' */
.icon-down-open-big:before { content: '\e816'; } /* '' */
