/*** VA DS SCSS ***/

/*** Colors ***/
$vads-primary-color: #001B4E;
$vads-secondary-color: #555;
$vads-body-content-color: #6d6e71;
$vads-body-accent-color: #eee;
$vads-body-background-color: #fff;

/*** General ***/
html, body {
  font-family: 'Open Sans', Arial, sans-serif; font-weight: 300; color: $vads-body-content-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wrap {
  padding-top: 1em;
}

body.default.post #wrap {
  @media #{$small} { padding-top: 5.5em;}
}

#blog {padding: 7.5em 0 2em 0;}

ol, ul {margin: 1em 0 1em 1.2em;}
dl {margin-bottom: 2em;}
dd {margin: 0; padding: 0; line-height: 1em; span {color: $vads-primary-color;}}

#content { padding: 0; margin: 0; color: $vads-body-content-color;}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: $vads-body-content-color;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {font-family: 'Open Sans', sans-serif; font-weight: 300; color: $vads-body-content-color;}

h2 {
  @media #{$small} {font-size: em-calc(36);}
  margin: 0 0 .75em 0;
  text-align: left;
  color: $vads-primary-color;
  font-weight: 300;
  em {font-style: normal; font-weight: 500;  }
}

h3 {font-weight: bold; font-weight: 500; font-size: em-calc(18); margin: 0; }
h4 {font-weight: 500; font-size: em-calc(26); color: $vads-body-content-color; line-height: 1.2em; margin-bottom: 0; padding-bottom: 0;}
h5 {font-weight: 500; margin: .35em 0 1em 0; padding: 0; font-weight: 300; font-size: 1em;}

/*** Logo / header ***/

.header {
  @media #{$small} {
  position: fixed;
  top: 0;
  padding: 0;
  background: #fff;
  background: rgba(255,255,255, .92);
  z-index: 500;
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,.05);
  }
}

.header {
  h1 {margin: 0; padding: 0; text-align: left;}
}

h1 a {
  text-indent: -9999em;
  white-space: nowrap;

  text-align: left;
  overflow: hidden;
  display: block;
  margin: 0 auto 0 auto;
  background: url(../img/design/logo.png) center left no-repeat;
  width: 60%;
  height: 55px;
  background-size: contain;
  &:hover {opacity: .9;}
  @media #{$small} {
    height: 88px;
  }
}

.header.skinny {
  margin: 0; padding: 0;
  h1 {margin: 0; padding: 0; height: auto;}
  h1 a {height: 30px; width: 30px; background: url(../../images/design/icons/apple-icon-touch-114-precomposed.png) center no-repeat; background-size: cover;}
  nav {
    margin-top: 0;
    padding: 0;
    ul {padding: 0; margin: 0;}
    margin-bottom: .25em;
    li {margin: 0; padding: 0;}
    ul li a {padding: .25em 2.5em; font-size: .8em; &:hover {background: #eee; background: rgba(0,0,0,.05);}}
  }
}


/*** Nav ***/
nav {
  text-transform: uppercase;
  text-align: center;
  @media #{$small} {text-align: right;}
  font-size: .9em;
  margin: 2em 0 1em 0;
  ul li {
    display: inline-block;
    @media #{$small} {width: auto; font-size: 1em;}
    letter-spacing: 0.08em;
    a {display: block; padding: .5em 3em;}
  }
}

ul.posts {
  margin: 0;
  padding: 0;
  li {
  list-style-type: none;
  border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 1em 0;

      &:hover {background: #eee; border-bottom: $vads-primary-color;}
    }
  }
}

footer {
  background: rgba(0,0,0,.05);
  padding: 3em 0;
  h4 {font-size: 1.1em;}
  ul.posts {
    margin: 0 0 2em 0;
  }
  img {margin: 0 0 1em 0;}
}

/*** Sections ***/

#who-we-are, #friends-and-partners, #call-to-action {
  padding: 3em 0;
}


#friends-and-partners {
  background: #eee;
}

#call-to-action {
  background: $vads-primary-color;
  color: #fff;
  h2, h3, h4, p, a {color: #fff;}
  .button {border-top: none; background: #fff; color: $vads-primary-color;}
}



#banner {
  background: url(../img/design/banner.jpg) top center no-repeat fixed;
  background-size: cover;
  color: #fff;
  padding: 14em 0 3em 0;
  height: 550px;
  text-align: right;
  h2, p {color: #fff;}
  h2 {
    padding: .25em; margin: 0;
    background: rgba(0,0,0,.75);
    display: inline-block;
    width: 40%;
    text-align: right;
    @media #{$small} {margin: 1.5em 0;}
    }
}

.button {
  border: none;
  padding: 1em;
  background: $vads-primary-color;
  &:hover, &:active {background: lighten($vads-primary-color,10%);}
}
