/*** AdHoc SCSS ***/

/*** Colors ***/
$dynamic-primary-color: #9dd348;
$dynamic-secondary-color: #F0F885;
$dynamic-body-content-color: #6d6e71;
$dynamic-body-accent-color: #eee;
$dynamic-body-background-color: #fff;

/*** General ***/
html, body {
  border: 3px solid green;
  font-family: 'Open Sans', sans-serif; font-weight: 300; color: $dynamic-body-content-color;
  background: $dynamic-body-background-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ol, ul {margin: 1em 0 1em 1.2em;}
dl {margin-bottom: 2em;}
dd {margin: 0; padding: 0; line-height: 1em; span {color: $dynamic-primary-color;}}

#content {background: #fff; padding: 0 0 2em 0; color: $dynamic-body-content-color;}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $dynamic-body-content-color;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {font-family: 'Open Sans', sans-serif; font-weight: 300; color: $dynamic-body-content-color;}

h2 {
  font-size: em-calc(36);
  margin: 1em 0 .75em 0;
  color: $dynamic-primary-color;
  font-weight: 300;
  em {font-style: normal; font-weight: 500;  }
}

h3 {font-weight: bold; font-weight: 500; font-size: em-calc(18); margin: 0; }
h4 {font-weight: 500; font-size: em-calc(26); color: $dynamic-body-content-color; line-height: 1.2em; margin-bottom: 0; padding-bottom: 0;}
h5 {font-weight: 500; margin: .35em 0 1em 0; padding: 0; font-weight: 300; font-size: 1em;}

/*** Logo / header ***/

#head {
}

h1 a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background: url(../img/design/logo.png) top center no-repeat;
  width: 125px;
  height: 32px;
  background-size: contain;
  @media #{$small} {
    margin: .6em 0;
    width: 162px;
    height: 50px;
  }

}

html.lt-ie9 h1 a {
  background: url(../img/design/logo-ie.png) top center no-repeat;
  width: 226px;
  height: 60px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  h1 a {
   background: url(../img/design/logo-retina.png) top left no-repeat;
   width: 162px;
   height: 50px;
   background-size: contain;
  }

}


/*** Nav ***/
nav {
  ul {font-size: em-calc(15);  margin: 0; padding: 0; font-weight: 500; text-align: center; margin: 0 auto 1em auto;}
  li {list-style: none; display: inline-block; line-height: 1.1em; width: 31%;
      em {display: block; font-style: normal; font-weight: 500;
          @media only screen and (min-width : 320px) and (max-width : 819px) {font-size: .9em;}
          }
      }
  a {display: block; padding: .5em 5%; color: $dynamic-body-content-color; }

  @media #{$small} {
    text-align: right;
    float: right;
    padding: 1.2em 0 0 0; margin: 0;
    font-size: 1.1em;

    ul {font-size: em-calc(16);}

    li {
      text-align: right;  margin: 0 0 0 2em; width: auto; em {display: inline; } &:last-child {border-left: none;}
      a {padding: 1.5em 0; color: $dynamic-body-content-color;  em {font-style: normal; opacity: 1;}}
      a:hover {color: $dynamic-primary-color;}
      &:last-child {border-right: none;}
      &.current a {color: #fff; border-top: 5px solid #fff;}
    }
  }
}


/***  Banner ***/

.banner {
  padding: 7.25em 0;
  @media #{$medium} {padding: 10em 0;}
  @media #{$large} {padding: 16em 0;}
  background: url(../img/design/banner2.jpg) center no-repeat;
  background-size: cover;
  h2 {
    text-align: center;
    font-size: em-calc(28px);
    padding: 0; line-height: 1em;
    @media #{$small} {font-size: em-calc(48px);}
    @media #{$medium} {font-size: em-calc(68px);}
    @media #{$large} {font-size: em-calc(72px);}
    span {background: rgba($dynamic-primary-color, .9); color: #fff; display: inline-block; padding: 0 .15em;}
  }
  p {color: #fff; font-size: 1.3em;}
  a {color: $dynamic-secondary-color;
    &:hover, &:active, &:focus {color: $dynamic-primary-color;}
  }
}


html.lt-ie9 .banner {
  width: 100%;
  float: left;
  left: 0;
  margin: 0 0 2em -.75em;
}

html.lt-ie9 .banner h2 span {
  background: #9dd348;
}

/*** Banner Animation ***/

@-webkit-keyframes lightup {

   0% {
     opacity: 0;
     -webkit-filter: blur(4px);
     -webkit-transform: scale(.98);
     -webkit-filter: blur(2px);
   }

   70% {
     opacity: 0;
     -webkit-filter: blur(4px);
     -webkit-transform: scale(.98);
     -webkit-filter: blur(2px);
   }

   100% {
     opacity: 1;
     -webkit-filter: blur(0px);
     -webkit-transform: scale(1);
   }

}


/*** Opening Pitch ***/

.opening-pitch {
  p {font-size: em-calc(18px); padding: 2.75em 0;}
  @media #{$small} {p {font-size: em-calc(20px);}}
  @media #{$medium} {p {font-size: em-calc(24px); padding: 2.25em 0;}}
}

/*** People ***/

.people {
  padding: 2em 0;
  background: rgba(0,0,0,.02);
  .row {margin-bottom: 2em;}
  h3 {font-size: em-calc(44px); margin-bottom: 1em; color: $dynamic-primary-color; font-weight: 300;}
  h4 {padding-top: 0; font-weight: 300; margin-top: 0; span {font-weight: 700;}}
  hr {max-width: 60.8em; margin: 1em auto 3em auto; height: 4px; border: 0; background-color: $dynamic-body-accent-color;}

  .team-member {
    padding-bottom: 2em;
    margin: 0;
  }

}

.head-shot {
  position: relative;
  top: 0;
  display: block;
  img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  img.tint {
    z-index: 800;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.team-member {


  img.no-tint {height: 0; -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}

  &:hover img.tint {height: 0; -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;}
  &:hover img.no-tint {height: auto;}
}

/*** Get in touch ***/

.get-in-touch {
  padding: 2em 0;
  background: $dynamic-primary-color;
  color: #fff;
  h4 {color: #fff; font-size: em-calc(36px); font-weight: 300;}
}


/*** Parallax ***/


/*** Form ***/

form {
  margin: 0;
  padding: 0;
  ol {margin: 0; padding: 0; li {margin: 0 0 1em 0; display: block; padding: 0;}}
  label {color: #fff;}
}

#content .row input[type="text"], #content .row textarea {
  width: 100%;
  font-size: 1em;
  padding: .5em;
  font-weight: normal;
  font-weight: 300;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  border: 2px solid #ccc;
}

.required-message {
  position: relative;
  left: -9999em;
}

#content .row textarea {
  height: 10em;
}

table#navigation-table {
  width: 100%;
}

#content .row input[type="submit"] {
  background: $dynamic-body-content-color;
  padding: .5em 1.5em;
  border: none;
  color: #fff;
  font-size: 1.2em;

  width: 100%;
  display: block;
  &:hover, &:focus, &:active {background: lighten($dynamic-body-content-color,10); cursor: pointer;}
  -webkit-appearance: none;
}

html.cssanimations {
  #content .row input[type="submit"] {border-bottom: 5px solid #606164;}
}

.ss-form-entry {margin: 0 0 .75em 0;}


/*** Misc ***/
abbr {text-decoration: none; border-bottom: none; color: inherit; font-size: inherit; font-weight: inherit;}
abbr[title="and"] {font-weight: 100;}


/*** Footer ***/

footer {
  border-top: 1px rgba(0,0,0,.1);
  padding: 1em 0 1em 0;
  margin: 0;
  text-align: right;
  a: {color: #fff;}
  clear: both;
  li {
     font-size: 1em;
     margin-bottom: .5em;
    text-align: right;
    a {color: #fff;}
    list-style: none;
    @media #{$small} {display: inline-block; padding: 1em 2em 1em 0; text-align: left; border-bottom: none;}
    &:current a {font-weight: 500; color: #fff;}
  }
  a:hover {color: #fff; border-bottom: 1px solid #fff;}

}
