---
layout: default
---

<div id="banner">
  <div class="banner-image"></div>
  <div class="banner-image blur"></div>

</div>

<div id="who-we-are">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>What is the Digital Service?</h2>
      <p>We are a team of seasoned engineers, designers, and product managers from some of the best-known companies in the private sector. We are joining forces with talented VA employees to make using VA services as simple as buying a book online.</p>
      <p><b>OUR MISSION:</b> to bring the full force of our experience and passion to transform the way technology works for Veterans and their families.</p>
      <p>To achieve this we will:</p>
      <ul>
      	<li>Have the courage to tackle the hard problems</li>
      	<li>Make decisions based on the needs of our users, and data</li>
      	<li>Build simple and intuitive products</li>
      	<li>Enable modern, reliable, adaptable, and sustainable solutions</li>
      </ul>
      <p>Our work is currently focused on:</p>
      <ol>
      	<li>Improving claims processing to give Veterans the timely support they deserve.</li>
      	<li>Simplifying access, sharing, and use of health information for Veterans and their doctors.</li>
      	<li>Building the infrastructure that powers a unified end-to-end experience with VA, through which our customers can meet all their needs.</li>
      </ol>
    </div>
  </div>
</div>
</div>

<div id="credo">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
  <h2>Our Credo</h2>
<p><strong>Our primary responsibility is to those we serve</strong>—Veterans, their families, and those who care for them. Interacting with the VA should be a positive experience. Digital products should be easy to use. The needs of people — not the constraints of internal systems — should drive our decisions.</p>
<p><strong>We are responsible to our colleagues</strong>—VA employees are working hard to serve our nation’s Veterans. If we don’t serve them, we don’t serve Veterans.</p>
<p><strong>We are responsible to the American people</strong>—the taxpayers who make our work possible. As we build modern products and systems we must increase efficiency and decrease cost. We must make technology at VA reliable, adaptable, responsive, scalable, and sustainable.</p>
<p><strong>We are responsible to the VA</strong>—the institution that we support. As we attract talent from across industry to work beside top performers within the VA, we must show that better results are possible, faster. Our partnerships must strengthen and empower people and teams within the VA, building internal capacity that is ready to tackle any challenge.</p>

    </div>
  </div>
</div>
</div>

<div id="call-to-action">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>Become a Founding Member</h2>
        <p>We need designers and writers, engineers and product managers, researchers and procurement experts committed to untangling, rewiring, and redesigning our government.</p>
        <p>We are especially looking for people with experience with:</p>
        <ul>
          <li>Building high-performing engineering teams from scratch</li>
          <li>Migrating from legacy systems to modern infrastructure</li>
          <li>Healthcare technology</li>
        </ul>
	       <a class="button" href="https://www.whitehouse.gov/digital/united-states-digital-service/apply">Apply today</a>
      </div>
    </div>
  </div>
</div>
