---
layout: default
---

<div id="banner">
  <div class="banner-image"></div>
  <div class="banner-image blur"></div>

</div>

<div id="who-we-are">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>What is the Digital Service?</h2>
        <p>The Digital Service team brings the full force of its experience and passion to transform the way technology at VA works for Veterans and their families.</p>
      <p>We are a team of seasoned engineers, designers, and product managers from some of the best-known companies in the private sector. We are joining forces with talented VA employees to make using VA services as simple as buying a book online.</p>
      <p>To achieve this we will:</p>
      <ul>
      	<li>Have the courage to tackle the hard problems</li>
      	<li>Make decisions based on the needs of our users, and data</li>
      	<li>Build simple and intuitive products</li>
      	<li>Enable modern, reliable, adaptable, and sustainable solutions</li>
      </ul>
      <p>Our work is currently focused on:</p>
      <ol>
      	<li>Improving claims processing to give Veterans the timely support they deserve.</li>
      	<li>Simplifying access, sharing, and use of health information for Veterans and their doctors.</li>
      	<li>Building the infrastructure that powers a unified end-to-end experience with VA, through which our customers can meet all their needs.</li>
      </ol>
    </div>
  </div>
</div>

<div id="credo">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">

    </div>
  </div>
</div>

<div id="call-to-action">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>Become a Founding Member</h2>
        <p>We need designers and writers, engineers and product managers, researchers and procurement experts committed to untangling, rewiring, and redesigning our government.</p> 
        <p>We are especially looking for people with experience with:</p>
        <ul>
          <li>Building high-performing engineering teams from scratch</li>
          <li>Migrating from legacy systems to modern infrastructure</li>
          <li>Healthcare technology</li>
        </ul>
	       <a class="button" href="https://www.whitehouse.gov/digital/united-states-digital-service/apply">Apply today</a>
      </div>
    </div>
  </div>
</div>
