---
layout: default
---

<div id="banner">
  <div class="banner-image"></div>
</div>

<div id="who-we-are">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>What is the Digital Service?</h2>
        <p>The Digital Service is a new technical team you&rsquo;ll help build within the Department of Veterans Affairs focused on serving more than 8 million Veterans who depend on <abbr title="Department of Veterans Affairs">VA</abbr> for benefits and services. You&rsquo;ll get to work alongside world-class engineers and designers from places like Google, Amazon, and Facebook.</p>
      </div>
    </div>
  </div>
</div>

<div id="call-to-action">
  <div class="row">
    <div class="small-12 small-centered large-10 columns">
      <div class="wow fadeInDown" data-wow-delay=".4s">
        <h2>Become a Founding Member</h2>
        <p>The Digital Service needs a variety of roles, including software engineers, designers, and operations, with specific interest in those with experience in:</p>
        <ul>
          <li>Building high-performing engineering teams from scratch</li>
          <li>Migrating from legacy systems to modern infrastructure</li>
          <li>Healthcare technology</li>
        </ul>
	<a class="button" href="https://screendoor.dobt.co/usds-evaluation/become-a-founding-member-of-the-va-digital-service-a8bb9157-7412-4726-9123-11b84fd2c2da">Apply today</a>
      </div>
    </div>
  </div>
</div>
